body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px;
   }
   details {
       width: 80%;
       margin: 5% auto; 
       cursor: pointer;
   }
   summary {
       list-style: none;
       display: flex;
       align-items: center;
       font-size: 1.1em;
       font-weight: bold;
   }
  .content-information {
      margin-top: 2%;
      padding-left: 5%;
      font-size: 0.95em;
      color: #444;
  }